<html>
	<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script>
		$(function(){
			 $("#find").click(function(){
			 	$("#res").html("");
			 	var track = $("#track").val().replace(/ /g, "+");
			 	var artist = $("#artist").val().replace(/ /g, "+");
			 	$("#res").html('<div class="col-md-6 col-md-offset-3"><div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">Loading</span></div></div> Loading tracks. It can take a few minutes...</div>');
			 	$.getJSON("load?track="+track+"&artist="+artist, function(data){
			 		$("#res").html("<div class='col-md-12'><h2>You may like:</h2></div>");
			 		$.each( data, function( key, val ) {
			 			str  = '<div class="col-md-4">';
			 			str += '<div class="media">';
  						str += '<div class="media-left">'
    					str += '<a href="'+val.url+'">';
				      	str += '<img class="media-object" src="'+val.image+'" alt="...">';
				    	str += '</a>';
				 	 	str += '</div>';
					  	str += '<div class="media-body">';
					    str += '<a href="'+val.url+'"><h4 class="media-heading">'+val.artist+'</h4></a>';
					    str += val.name;
					  	str += '</div>';
						str += '</div>';
						$("#res").append(str);
					})
			 	}).fail(function(){
						$("#res").html("<h1>Sorry, but track with these data was not found :(</h1>");
				});
			 });
		 });
		</script>
	</head>
	<body>
		<div class="container">
			<div class="well">
				<h1>
					Get track recommendations!
				</h1>
				<p>
					Just fill information about your favorite track and we will try to find best recommendations
				</p>
			</div>
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<h1>Your favorite track</h1>
					</div>
					<div class="col-md-5">
						<input type="text" id="artist" placeholder="Artist" class="form-control">
						<br>
					</div>
					<div class="col-md-5">
						<input type="text" id="track" placeholder="Name of the track" class="form-control">
						<br>
					</div>
					<div class="col-md-2">
						<button class="btn btn-danger" id="find">
							Find tracks!
						</button>
					</div>
				</div>
				<br>
				<div class="row" id="res">
				</div>
			</div>
		</div>
	</body>
</html>