<html>
	<head>

		<link rel="stylesheet" href="http://bootswatch.com/slate/bootstrap.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script>
		$(function(){
			 $("#find").click(function(){
			 	$("#res").html("");
			 	var track = $("#track").val().replace(/ /g, "+");
			 	var artist = $("#artist").val().replace(/ /g, "+");
			 	//alert(track + artist);
			 	console.log("Loading");
			 	$("#res").html('<div class="col-md-6 col-md-offset-3"><div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">45% Complete</span></div></div> Загружаем треки. Это может занять несколько минут</div>');
			 	$.getJSON("load?track="+track+"&artist="+artist, function(data){
			 		console.log("Loaded");
			 		$("#res").html("<div class='col-md-12'><h2>Вам может понравиться:</h2></div>");
			 		$.each( data, function( key, val ) {
			 			str  = '<div class="col-md-4">';
			 			str += '<div class="media">';
  						str += '<div class="media-left">'
    					str += '<a href="'+val.url+'">';
				      	str += '<img class="media-object" src="'+val.image+'" alt="...">';
				    	str += '</a>';
				 	 	str += '</div>';
					  	str += '<div class="media-body">';
					    str += '<a href="'+val.url+'"><h4 class="media-heading">'+val.artist+'</h4></a>';
					    str += val.name;
					  	str += '</div>';
						str += '</div>';
						$("#res").append(str);
					})
			 	}).fail(function(){
						$("#res").html("<h1>Извините, но трек с такими данными не найден :(</h1>");
				});
			 });
		 });
		</script>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>
					Получите рекомендации треков!
				</h1>
				<p>
					Просто заполните данные о вашем любимом треке и на их основе мы постараемся найти лучшие рекомендации
				</p>
			</div>
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<h1>Ваш любимый трек</h1>
					</div>
					<div class="col-md-5">
						<input type="text" id="artist" placeholder="Исполнитель" class="form-control">
					</div>
					<div class="col-md-5">
						<input type="text" id="track" placeholder="Название трека" class="form-control">
					</div>
					<div class="col-md-2">
						<button class="btn btn-danger" id="find">
							Найти треки!
						</button>
					</div>
				</div>
				<br>
				<div class="row" id="res">
				</div>
			</div>
		</div>
	</body>
</html>